<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css">
    <title>Mobile Shop</title>
  </head>
  <body>
    <h1>New <%= name %></h1>
    <ul>
      <li><%= products[0].title %></li>
      <li><%= products[0].price %></li>
      <li><%= products[0].rating %></li>
    </ul>
    <ul>
      <li><%= products[1].title %></li>
      <li><%= products[1].price %></li>
      <li><%= products[1].rating %></li>
    </ul>
    <ul>
      <li><%= products[2].title %></li>
      <li><%= products[2].price %></li>
      <li><%= products[2].rating %></li>
    </ul>
  </body>
</html>
